# CLI framework
typer

# Data handling
pandas
numpy

# Yahoo Finance for price data
yfinance

# Environment variable loader
python-dotenv

# Broker API
kiteconnect
onetimepass

# Optimisations
scipy

# PDF Extraction tool
PyPDF2

twilio
